<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>


<iframe src="https://flat.io/embed/5cf623da2964705f7aa3f4bd?sharingKey=5c3bc0d27630dd83a267474e44d757492912a655ff564d4cb2ae0d99c34354c7f45622c09fa7144d3991b2d4272b4fb021d0fffd2ec12967dced7c784973f5b7" height="450" width="750" frameBorder="0" allowfullscreen></iframe>
